@model EditRoleViewModel

@{
    ViewData["Title"] = "Edit Role";
}

<h1>Edit Role</h1>

<form asp-controller="Admin" asp-action="UpdateRole" method="post">
    <div class="form-group">
        <label for="roleName">Role name:</label>
        <input type="text" class="form-control" id="roleName" name="roleName" value="@Model.RoleName" />
    </div>
    <br />
    <input type="hidden" name="roleId" value="@Model.RoleId" />
    <button type="submit" class="btn btn-primary">Save</button>
</form>