@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>
<form asp-controller="Admin" asp-action="CreateRole" method="post" class="form-inline">
    <div class="form-group mr-2">
        <label for="roleName" class="mr-2">Role name:</label>
        <input type="text" class="form-control" id="roleName" name="roleName" size="20" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Create</button>
</form>
<br />
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-controller="Admin" asp-action="EditRole" asp-route-roleId="@role.Id" class="btn"><img src="~/img/icons8-edit.svg" />Edit</a>
                    <a asp-controller="Admin" asp-action="DeleteRole" asp-route-roleId="@role.Id" class="btn" onclick="return confirm('Are you sure you want to delete this role?')"><img src="https://drive.google.com/uc?export=view&id=1K032fPehmOZbf95TV9Hv4OHE-_JeRolN" />Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>