
@{
}
@model FilterViewModel

<form method="post" id="filter">
    <h5>Choose Sex</h5>
    <input type="checkbox" asp-for="Male"/>
    <label asp-for="Male">Male</label>
    <br />
    <input type="checkbox" asp-for="Female" />
    <label asp-for="Female">Female</label>

    <h5>Choose Head Direction</h5>
    <input type="checkbox" asp-for="West" />
    <label asp-for="West">West</label>
    <br />
    <input type="checkbox" asp-for="East" />
    <label asp-for="East">East</label>

            <h5>Enter Burial Depth Range</h5>
    <label asp-for="MinDepth">Minimum depth:</label>
    <input type="number" asp-for="MinDepth" min="0" step="0.01">

    <label asp-for="MaxDepth">Maximum depth:</label>
    <input type="number" asp-for="MaxDepth" min="0" step="0.01">

    <h5>Choose Age</h5>
    <input type="checkbox" asp-for="Adult" />
    <label asp-for="Adult">Adult (15+)</label>
    <br />
    <input type="checkbox" asp-for="Child" />
    <label asp-for="Child">Child (3-15)</label>
    <br />
    <input type="checkbox" asp-for="Infant" />
    <label asp-for="Infant">Infant (1-3)</label>
    <br />
    <input type="checkbox" asp-for="Newborn" />
    <label asp-for="Newborn">Newborn (0-1)</label>

    <h5>Choose Hair Color</h5>
    <input type="checkbox" asp-for="Brown" />
    <label asp-for="Brown">Brown</label>
    <br />
    <input type="checkbox" asp-for="Black" />
    <label asp-for="Black">Black</label>
    <br />
    <input type="checkbox" asp-for="BrownRed" />
    <label asp-for="BrownRed">Brown/Red</label>
    <br />
    <input type="checkbox" asp-for="Red" />
    <label asp-for="Red">Red</label>
    <br />
    <input type="checkbox" asp-for="Blond" />
    <label asp-for="Blond">Blond</label>
    <br />
    <input type="checkbox" asp-for="Unknown" />
    <label asp-for="Unknown">Unknown</label>
    <br />

    <h5>Choose Wrapping Type</h5>
    <input type="checkbox" asp-for="Full" />
    <label asp-for="Full">Full Wrapping</label>
    <br />
    <input type="checkbox" asp-for="Partial" />
    <label asp-for="Partial">Partial Wrapping</label>
    <br />
    <input type="checkbox" asp-for="Bones" />
    <label asp-for="Bones">Only Bones or Limited Wrapping</label><br />

    <h5>Choose Textile Color</h5>
    <input type="checkbox" asp-for="ColorYellow" />
    <label asp-for="ColorYellow">Yellow</label>
    <br />
    <input type="checkbox" asp-for="ColorPurple" />
    <label asp-for="ColorPurple">Purple</label>
    <br />
    <input type="checkbox" asp-for="ColorRed" />
    <label asp-for="ColorRed">Red</label>
    <br />
    <input type="checkbox" asp-for="ColorBrown" />
    <label asp-for="ColorBrown">Brown</label>
    <br />
    <input type="checkbox" asp-for="ColorGreen" />
    <label asp-for="ColorGreen">Green</label>
    <br />
    <input type="checkbox" asp-for="ColorWhite" />
    <label asp-for="ColorWhite">White</label>
    <br />
    <input type="checkbox" asp-for="ColorBlue" />
    <label asp-for="ColorBlue">Blue</label>
    <br />
    <input type="checkbox" asp-for="ColorBlack" />
    <label asp-for="ColorBlack">Black</label>
    <br />
    <input type="checkbox" asp-for="ColorOrange" />
    <label asp-for="ColorOrange">Orange</label>
    <br />
    <input type="checkbox" asp-for="ColorUndyed" />
    <label asp-for="ColorUndyed">Undyed</label>
    <br />



    <br /><br />
    <button type="submit" class="btn btn-primary">Search</button>
</form>