
@{
}
@model FilterViewModel

<form method="post" id="filter">
    <h5>Choose Sex</h5>
    <input type="checkbox" asp-for="Male"/>
    <label asp-for="Male">Male</label>
    <br />
    <input type="checkbox" asp-for="Female" />
    <label asp-for="Female">Female</label>
    <h5>Choose Head Direction</h5>
    <input type="checkbox" asp-for="West" />
    <label asp-for="West">West</label>
    <br />
    <input type="checkbox" asp-for="East" />
    <label asp-for="East">East</label>
    @*        <h5>Enter Burial Depth Range</h5>
    <label for="MinDepth">Minimum depth:</label>
    <input type="number" id="MinDepth" name="MinDepth" min="0" step="0.01">

    <label for="MaxDepth">Maximum depth:</label>
    <input type="number" id="MaxDepth" name="MaxDepth" min="0" step="0.01">*@
    <h5>Choose Adult/Child</h5>
    <input type="checkbox" asp-for="Adult" />
    <label asp-for="Adult">Adult</label>
    <br />
    <input type="checkbox" asp-for="Child" />
    <label asp-for="Child">Child</label>
    <h5>Choose Hair Color</h5>
    <input type="checkbox" asp-for="Brown" />
    <label asp-for="Brown">Brown</label>
    <br />
    <input type="checkbox" asp-for="Black" />
    <label asp-for="Black">Black</label>
    <br />
    <input type="checkbox" asp-for="BrownRed" />
    <label asp-for="BrownRed">Brown/Red</label>
    <br />
    <input type="checkbox" asp-for="Red" />
    <label asp-for="Red">Red</label>
    <br />
    <input type="checkbox" asp-for="Blond" />
    <label asp-for="Blond">Blond</label>
    <br />
    <input type="checkbox" asp-for="Unknown" />
    <label asp-for="Unknown">Unknown</label>
    <br /><br /><br />
    <button type="submit" class="btn btn-primary">Search</button>
</form>