
@{
}
@model FilterViewModel

<form method="post" id="filter">
    <h5>Choose Sex</h5>
    <input type="checkbox" asp-for="Male"/>
    <label asp-for="Male">Male</label>
    <br />
    <input type="checkbox" asp-for="Female" />
    <label asp-for="Female">Female</label>

    <h5>Choose Head Direction</h5>
    <input type="checkbox" asp-for="HeadWest" />
    <label asp-for="HeadWest">West</label>
    <br />
    <input type="checkbox" asp-for="HeadEast" />
    <label asp-for="HeadEast">East</label>

            <h5>Enter Burial Depth Range</h5>
    <label asp-for="MinDepth">Minimum depth:</label>
    <input type="number" asp-for="MinDepth" min="0" step="0.01">

    <label asp-for="MaxDepth">Maximum depth:</label>
    <input type="number" asp-for="MaxDepth" min="0" step="0.01">

    <h5>Choose Age</h5>
    <input type="checkbox" asp-for="Adult" />
    <label asp-for="Adult">Adult (15+)</label>
    <br />
    <input type="checkbox" asp-for="Child" />
    <label asp-for="Child">Child (3-15)</label>
    <br />
    <input type="checkbox" asp-for="Infant" />
    <label asp-for="Infant">Infant (1-3)</label>
    <br />
    <input type="checkbox" asp-for="Newborn" />
    <label asp-for="Newborn">Newborn (0-1)</label>

    <h5>Choose Hair Color</h5>
    <input type="checkbox" asp-for="Brown" />
    <label asp-for="Brown">Brown</label>
    <br />
    <input type="checkbox" asp-for="Black" />
    <label asp-for="Black">Black</label>
    <br />
    <input type="checkbox" asp-for="BrownRed" />
    <label asp-for="BrownRed">Brown/Red</label>
    <br />
    <input type="checkbox" asp-for="Red" />
    <label asp-for="Red">Red</label>
    <br />
    <input type="checkbox" asp-for="Blond" />
    <label asp-for="Blond">Blond</label>
    <br />
    <input type="checkbox" asp-for="Unknown" />
    <label asp-for="Unknown">Unknown</label>
    <br />

    <h5>Choose Wrapping Type</h5>
    <input type="checkbox" asp-for="Full" />
    <label asp-for="Full">Full Wrapping</label>
    <br />
    <input type="checkbox" asp-for="Partial" />
    <label asp-for="Partial">Partial Wrapping</label>
    <br />
    <input type="checkbox" asp-for="Bones" />
    <label asp-for="Bones">Only Bones or Limited Wrapping</label><br />

    <h5>Choose Textile Color</h5>
    <select asp-for="TextileColor">
        <option value="">Choose Color</option>
        <option value="Yellow">Yellow</option>
        <option value="Purple">Purple</option>
        <option value="Red">Red</option>
        <option value="Brown">Brown</option>
        <option value="Green">Green</option>
        <option value="White">White</option>
        <option value="Blue">Blue</option>
        <option value="Black">Black</option>
        <option value="Orange">Orange</option>
        <option value="Undyed">Undyed</option>
    </select><br />

    <h5>Choose Fragment Type</h5>
    <select asp-for="TextileFunction">
        <option value="">Choose Type</option>
        <option value="Blanket">Blanket</option>
        <option value="Cordage">Cordage</option>
        <option value="Face">Face</option>
        <option value="Fragmentary">Fragmentary</option>
        <option value="Head">Head</option>
        <option value="Other">Other</option>
        <option value="Ribbon">Ribbon</option>
        <option value="Tunic">Tunic</option>
    </select><br />

    <h5>Choose Location</h5>
    <input type="checkbox" asp-for="North" />
    <label asp-for="North">North</label>
    <input type="checkbox" asp-for="South" />
    <label asp-for="South">South</label>
    <br />
    <input type="checkbox" asp-for="East" />
    <label asp-for="East">East</label>
    <input type="checkbox" asp-for="West" />
    <label asp-for="West">West</label>
    <br />
    <label asp-for="SquareNorthSouth">SquareNorthSouth:</label>
    <input type="number" asp-for="SquareNorthSouth" min="0" step="0.01">
    <label asp-for="SquareEastWest">SquareEastWest:</label>
    <input type="number" asp-for="SquareEastWest" min="0" step="0.01">
    <br />
    <input type="checkbox" asp-for="NorthEastArea" />
    <label asp-for="NorthEastArea">NorthEast Area</label><br />
    <input type="checkbox" asp-for="NorthWestArea" />
    <label asp-for="NorthWestArea">NorthWest Area</label><br />
    <input type="checkbox" asp-for="SouthEastArea" />
    <label asp-for="SouthEastArea">SouthEast Area</label><br />
    <input type="checkbox" asp-for="SouthWestArea" />
    <label asp-for="SouthWestArea">SouthWest Area</label>
    <br />
    <label asp-for="BurialNumber">Burial Number:</label>
    <input type="number" asp-for="BurialNumber" min="0" step="0.01">
    <br />

    <h5>Face Bundle</h5>
    <select asp-for="FaceBundle">
        <option value="">No</option>
        <option value="Yes">Yes</option>
    </select><br />



    <br /><br />
    <button type="submit" class="btn btn-primary">Search</button>
</form>