@{
    ViewData["Title"] = "Burials Page";
}
@model BurialViewModel
<div class="row m-1 p-1">
<div class="col-3">
        <img src="~/img/2002-0085.jpg" height="150" width="200"/>
        <partial name="Filter" model="Model.Filters" />
</div>
<div class="col-9">
    <div class="text-center">
        <h1>Welcome</h1>
    </div>
    @foreach (Burialmain b in Model.Burialmains)
    {
            <partial name="BurialSummary" model="b" />
    }



    <div page-nav="@Model.PageInfo" page-action="Burials" page-classes-enabled="true"
         page-class="btn" page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary" class="btn-group font-weight-light btn-group-lg m-1"></div>
    </div>
</div>