
@{
}

@model Burialmain

<script>
    function toggle(){
        var div = document.getElementById("moreInfo");
        div.style.display = div.style.display == "none" ? "block" : "none";
    }
</script>

<h2>Mummy:</h2>

<form method="post" id="filter" class="form-check">
    <input type="hidden" asp-for="Id" />

    <label asp-for="Sex">Sex: </label>
    <select asp-for ="Sex">
        <option value="M">Male</option>
        <option value="F">Female</option>
        <option value="">Null</option>
    </select><br />

    <label asp-for="Headdirection">Head Direction: </label>
    <select asp-for="Headdirection">
        <option value="W">West</option>
        <option value="E">East</option>
        <option value="">Null</option>
    </select><br />

    <label asp-for="Depth">Depth: </label>
    <input type="number" asp-for="Depth" min="0" step=".01" /> <br />
    <label asp-for="Adultsubadult">Adult or Child: </label>
    <select asp-for="Adultsubadult">
        <option value="A">Adult</option>
        <option value="C">Child</option>
        <option value="">Null</option>
    </select><br />

    <label asp-for="Haircolor">Haircolor: </label>
    <select asp-for="Haircolor">
        <option value="B">Brown</option>
        <option value="K">Black</option>
        <option value="A">Brown/Red</option>
        <option value="R">Red</option>
        <option value="D">Blond</option>
        <option value="U">Unknown</option>
    </select><br /><br /><br />


    <button type="button" onclick="toggle()" class="btn">More Options</button><br />

    <div name="moreInfo" id="moreInfo" style="display:none !important">
    <h2>Location Information:</h2>
    <label asp-for="Squarenorthsouth">Square North-South</label>
    <input type="number" asp-for="Squarenorthsouth" /><br />

    <label asp-for="Squareeastwest">Square East-West</label>
    <input type="number" asp-for="Squareeastwest" /><br />

    <label asp-for="Eastwest">Eastwest</label>
    <select asp-for="Eastwest">
        <option value="E">East</option>
        <option value="W">West</option>
    </select><br />
    <label asp-for="Northsouth">Northsouth</label>
    <select asp-for="Northsouth">
        <option value="N">North</option>
        <option value="S">South</option>
    </select><br />

    <label asp-for="Southtofeet">South to Feet</label>
    <input type="number" asp-for="Southtofeet" /><br />

    <label asp-for="Southtohead">South to Head</label>
    <input type="number" asp-for="Southtohead" /><br />
    </div>


    <br />

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br /><br />

<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Cancel</a>


