@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <center>
        <h1>Fag el-Gamous</h1>
        <h3>Byu Egypt Excavation Project</h3>
        <img src="https://drive.google.com/uc?export=view&id=19VKJQPvMnGaOjxZKatqOzjErd3hGfkVX" width="608" height="620" />

    </center>

</body>
</html>
