@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <center>
        <h1>Fag el-Gamous</h1>
        <h3>Byu Egypt Excavation Project</h3>
        <div style="display: flex; justify-content: center; align-items: center; text-align: left">
            <img src="https://drive.google.com/uc?export=view&id=19VKJQPvMnGaOjxZKatqOzjErd3hGfkVX" width="608" height="620" style="float: left; margin-right: 20px;" />
            <p>
                The BYU Egypt Mummy Excavation Project is an ongoing research initiative that uses advanced imaging techniques to analyze ancient Egyptian mummies. Since 1990, BYU researchers have been exploring the Graeco-Roman cemetery and examining the mummies there. By analyzing the mummies, researchers can gain insights into the cultural and biological factors that shaped life in ancient Egypt.
                <br /><br />
                One significant finding of the project is evidence of a religious shift from traditional ancient Egyptian practices to Christianity, as Christian symbols were buried with some mummies. These amulets and other symbolic items played a vital role in the mummification process, protecting the deceased in the afterlife.
                <br /><br />
                Furthermore, the use of non-invasive imaging techniques, such as CT scans, has allowed BYU researchers to estimate the age of mummies by examining their bones and teeth. This has also helped them to determine the sex of some mummies.
                <br /><br />
                Overall, the BYU Egypt Mummy Excavation Project continues to provide valuable insights into the complexities of ancient Egyptian society, offering a fascinating glimpse into the past.
            </p>
        </div>
    </center>
</body>
</html>