@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    
</head>
<body>
    <center>
        <h1>Fag el-Gamous</h1>
        <h3>Byu Egypt Excavation Project</h3>
        <img src="~/img/pexels-oziel-gómez-7566890.jpg" width="608" height="620" />
    </center>
    
</body>
</html>