@{
    ViewData["Title"] = "Predict The Head Direction of Your Mummy!";
}

<h1>@ViewData["Title"]</h1>

<form method="post" id="MakePrediction">
    <label for="depth"> Depth:</label>
    <input type="text" name="depth" id="depth" class="form-control" required>
    <br />

    <label for="sex"> Sex:</label>
    <select name="sex" id="sex" class="form-control" required>
        <option value="">-- Select a gender --</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <!-- add more options here as needed -->
    </select>
    <br />

    <label for="adultchild"> Adult or Child:</label>
    <select name="adultchild" id="adultchild" class="form-control" required>
        <option value="">-- Select an age --</option>
        <option value="adult">Adult</option>
        <option value="child">Child</option>
        <!-- add more options here as needed -->
    </select>
    <br />

    <label for="goods"> Buried with Goods:</label>
    <select name="goods" id="goods" class="form-control" required>
        <option value="">-- Select an option --</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
        <!-- add more options here as needed -->
    </select>
    <br />

    <label for="wrapping"> Wrapping type:</label>
    <select name="wrapping" id="wrapping" class="form-control" required>
        <option value="">-- Select a wrapping type --</option>
        <option value="bones">Bones</option>
        <option value="half">Half</option>
        <option value="whole">Whole</option>
        <!-- add more options here as needed -->
    </select>
    <br />

    <button type="submit"> Generate Prediction </button>
</form>