@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<body>
    <p>
        Our Company is part of Brigham Young University and includes the BYU Egypt Excavation Project. This privacy policy will explain
        how our organization uses the personal data we collect from you when you use our website.
    </p>
    <br />
    <p>Topics:</p>
    <ul>
        <li>What data do we collect?</li>
        <li>How do we collect your data?</li>
        <li>How will we use your data?</li>
        <li>What are your data protection rights?</li>
        <li>What are cookies?</li>
        <li>How do we use cookies?</li>
        <li>What types of cookies do we use?</li>
        <li>How to manage your cookies</li>
        <li>Privacy policies of other websites</li>
        <li>Changes to our privacy policy</li>
        <li>How to contact us</li>
        <li>How to contact the appropriate authorities</li>
    </ul>

    <br />
    <h2>What data do we collect?</h2>
    <p>Our Company collects the following data:</p>
    <ul>
        <li>Personal identification information (Name, email address, phone number, etc.)</li>
    </ul>

    <h2>How do we collect your data?</h2>
    <p>You directly provide Our Company with most of the data we collect. We collect data and process data when you:</p>
    <ul>
        <li>Register online.</li>
        <li>Use or view our website via your browser’s cookies.</li>
    </ul>

    <h2>How will we use your data?</h2>
    <p>Our Company collects your data so that we can:</p>
    <ul>
        <li>Manage your account.</li>
        <li>Keep you up to date on any new findings or information.</li>
    </ul>

    <h2>What are your data protection rights?</h2>
    <p>Our Company would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
    <ul>
        <li>
            The right to access – You have the right to request Our Company for copies of your personal data. We may charge you a small fee for
            this service.
        </li>
        <li>
            The right to rectification – You have the right to request that Our Company correct any information you believe is inaccurate. You
            also have the right to request Our Company to complete the information you believe is incomplete.
        </li>
        <li>The right to erasure – You have the right to request that Our Company erase your personal data, under certain conditions.</li>
        <li>
            The right to restrict processing – You have the right to request that Our Company restrict the processing of your personal data,
            under certain conditions.
        </li>
        <li>The right to object to processing – You have the right to object to Our Company’s processing of your personal data, under certain conditions.</li>
        <li>
            The right to data portability – You have the right to request that Our Company transfer the data that we have collected to another organization,
            or directly to you, under certain conditions. <br />
            <br />If you make a request, we have one month to respond to you. If you would like to exercise
            any of these rights, please contact us at our email: byu-info@byu.edu
        </li>
    </ul>

    <br />

    <h2>Cookies</h2>
    <p>
        Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information.
        When you visit our websites, we may collect information from you automatically through cookies or similar technology <br />
        For further information, visit allaboutcookies.org.
    </p>


    <h2>How do we use cookies?</h2>
    <p>Our Company uses cookies in a range of ways to improve your experience on our website, including:</p>
    <ul>
        <li>Keeping you signed in.</li>
        <li>Understanding how you use our website.</li>
    </ul>

    <h2>What types of cookies do we use?</h2>
    <p>There are a number of different types of cookies, however, our website uses:</p>
    <ul>
        <li>
            Functionality – Our Company uses these cookies so that we recognize you on our website and remember your previously selected preferences.
            These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used..
        </li>
    </ul>

    <h2>How to manage cookies</h2>
    <p>
        You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few
        cases, some of our website features may not function as a result.
    </p>

    <h2>Privacy policies of other websites</h2>
    <p>
        The Our Company website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to
        another website, you should read their privacy policy.
    </p>

    <h2>Changes to our privacy policy</h2>
    <p>
        Our Company keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last
        updated on 11 April 2023.
    </p>

    <h2>How to contact us</h2>
    <p>
        If you have any questions about Our Company’s privacy policy, the data we hold on you, or you would like to exercise one of your
        data protection rights, please do not hesitate to contact us. <br />
        Email us at: byu-info@byu.edu
    </p>

    <h2>How to contact the appropriate authority</h2>
    <p>
        Should you wish to report a complaint or if you feel that Our Company has not addressed your concern in a satisfactory manner,
        you may contact the Information Commissioner’s Office. <br />
        Email: dpo@ico.org.uk
    </p>
</body>