@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Burialmain

<h4>Success</h4>
<h2>@Model.Sex</h2>
<h2>@Model.Depth</h2>