@{
    ViewData["Title"] = "Mummy Head Direction Predictor";
}
@model ErrorViewModel

<h1>@ViewData["Title"]</h1>

<div>
    <p>
        The BYU Egypt Archaeology team found mummies with East or West head orientation, with varying historical and religious implications.
    </p>
    <p>
        East-facing mummies may have been aligned with the rising sun, while West-facing mummies were linked to the afterlife in
        Ancient Egyptian religion. Some facing East mummies
        may be of Christian or Muslim origin, aligned towards Mecca or Jerusalem.
    </p>
    <p>
        Regardless of the reason, mummy head orientation
        provides valuable insight into the religious and cultural practices of ancient Egypt.
    </p>
</div>
<p>Predict the head direction of your mummy below!</p>
<br />
<p>Predict the head direction of your mummy below!</p>

@if (Model.ErrorMessage != null)
{
    <div id="errorMessage">
        <h2>Error: @Model.ErrorMessage</h2>
    </div>

}

<form method="post" id="MakePrediction">
    <label for="depth"> Depth:</label>
    <input type="text" name="depth" id="depth" class="form-control" required>
    <br />

    <label for="sex"> Sex:</label>
    <select name="sex" id="sex" class="form-control" required>
        <option value="">-- Select a gender --</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <!-- add more options here as needed -->
    </select>
    <br />

    <label for="adultchild"> Adult or Child:</label>
    <select name="adultchild" id="adultchild" class="form-control" required>
        <option value="">-- Select an age --</option>
        <option value="adult">Adult</option>
        <option value="child">Child</option>
        <!-- add more options here as needed -->
    </select>
    <br />

    <label for="goods"> Buried with Goods:</label>
    <select name="goods" id="goods" class="form-control" required>
        <option value="">-- Select an option --</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
        <!-- add more options here as needed -->
    </select>
    <br />

    <label for="wrapping"> Wrapping type:</label>
    <select name="wrapping" id="wrapping" class="form-control" required>
        <option value="">-- Select a wrapping type --</option>
        <option value="bones">Bones Only (No wrapping)</option>
        <option value="half">Half</option>
        <option value="whole">Whole</option>
        <!-- add more options here as needed -->
    </select>
    <br />

    <button type="submit"> Generate Prediction </button>
</form>


@if(Model.ErrorMessage != null)
{
    <script>
        let msg = @Model.ErrorMessage
        alert("Error: " + msg);
    </script>

}
