@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ChartModel

<div class="text-center">
    <div class="text-center">
        <h1 class="display-4">Mummy Age Exploration</h1>
        <form method="post">
            <label for="Chart">Choose to view relationship with Age: </label>
            <select asp-for="Chart" id="Chart">
                <option>Select an Option:</option>
                <option value="A">Adult vs Children</option>
                <option value="B">Depth</option>
                <option value="C">Head Direction</option>
                <option value="F">Wrapping</option>
                <option value="G">Show 3d Graph</option>
            </select>
            <br />
            <br />
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
        <br />

        @{
            if (Model != null)
            {
                switch (Model.Chart)
                {
                    case "A":
                        <img src="https://drive.google.com/uc?export=view&id=1ied9A5Nqe4geOcA54ixIRUJ8es4bF0O3" height="400" width="600" />
                        <p>
                            In this graphic, Mummy Age is from earliest to lastest going left to right. On the y-axis, one represents a child and zero represents an adult. The different colors represent clusters of data that are similar to each other.<br><br>
                            As you can see, no children were before 1900 years ago. This could represent a correlation between the age of the mummy and whether they were a child or adult. <br><br>
                            One possible reason for this change was that mummification was reserved for the elite class early on. It was more common for an adult to be mummified vs a child. <br><br>
                            However, after mummification became more widely spread, more people that could become mummified would do it regardless of social status or age. 
                        </p>
                        break;
                    case "B":
                        <img src="https://drive.google.com/uc?export=view&id=1U6mVSHAOu0W3DOrWsVvF04aDTGBoUXCv" height="400" width="600" />
                        <p>
                            In this graphic, Mummy Age is from earliest to lastest going left to right. On the y-axis, Depth is measure in meters from the surface. The different colors represent clusters of data that are similar to each other. <br><br>
                            The data collected by the BYU Egypt team reveals a trend in decreasing depth of burial for mummies over time, suggesting that older mummies were buried deeper than more recent ones. This could be due to the hierarchy of the dead, where the more important the person, the deeper their tomb should be. <br><br>
                            Additionally, the availability of burial space may have played a role, with more recent mummies being buried more shallow due to a lack of space. <br><br>
                            These factors, among others, may have influenced the depth of burial for ancient Egyptian mummies.
                        </p>
                        break;
                    case "C":
                        <img src="https://drive.google.com/uc?export=view&id=1piWLXz8g_Am1GQxSqawhFcWYP7SSvE5E" height="400" width="600" />
                        <p>
                            In this graphic, Mummy Age is from earliest to lastest going left to right. On the y-axis, the head direction facing west is one and east is zero. The different colors represent clusters of data that are similar to each other. <br><br>
                            Although there is no clear correlation between mummy age and head direction, in this dataset there were no mummies burried after 1800 years ago with their heads facing west. <br><br>
                            BYU Egypt Archeology team's discovery of East or West-facing mummies provides insight into Ancient Egyptian beliefs. The direction of burial may indicate the mummy's association with the sun or the afterlife. Additionally, East-facing mummies may be of Christian or Muslim origin, aligned towards Mecca or Jerusalem. <br><br>
                            These findings offer valuable information about ancient Egyptian religious and cultural practices.
                        </p>
                        break;
                    case "F":
                        <img src="https://drive.google.com/uc?export=view&id=1Pokc3tfnQ0S3nq-EOH6mR2wJCu8fZOgm" height="400" width="600" />
                        <p>
                            In this graphic, Mummy Age is from earliest to lastest going left to right. On the y-axis, two represents the whole body being covered when burried, one represents half of the body being covered when burried, and zero represents no covering found on the body. The different colors represent clusters of data that are similar to each other. <br><br>
                            The wrapping of mummies discovered by the BYU Egypt Archeology team varied significantly, with some mummies fully wrapped, others partially wrapped, and some not wrapped at all. This variation can be attributed to several factors, including the social status of the individual, their condition at the time of mummification, and their religious beliefs.<br><br>
                            Wealthy or prominent individuals were usually wrapped more elaborately as a symbol of their status, while those of lower social status may have only been partially wrapped or left unwrapped. Additionally, Christian or Muslim mummies may have been buried without wrapping due to their different beliefs regarding the afterlife.<br><br>
                            Understanding the factors that influenced the wrapping of mummies provides valuable insights into the religious and cultural practices of ancient Egyptian society.
                        </p>
                        break;
                    case "G":
                        <img src="https://drive.google.com/uc?export=view&id=1kNPtdVYPmYhShrpEwm2dFaVT9ZbVwYxl" height="600" width="700" />
                        <p>
                            The graphic shows a 3d representation of Burial Depth, Mummy Age, and Wrapping Type. The different colors represent clusters of data that are similar to each other.
                        </p>
                        break;
                }

            }
        }

    </div>
</div>

